{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<main>
  <div class="tabs-profile">
    <div class="container">
      <div class="row">
        {% include "left_tab_profile.html" %}
        <div class="col-lg-9 col-sm-12 col-12">
          <div class="tab-content">
            <div class="tab-pane active" id="tab_a">
              <section class="mb-4 mt-4">
                <div class="fadeIn">
                  <h5 class="text-center">Payment ID : {{payment.id}}</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Promotion</th>
                        <th scope="col">Sum</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in payment.product_details.all %}
                      <tr>
                        <th scope="row">
                          <img
                            style="overflow: hidden; height: 50px"
                            src="{{product.image}}"
                            alt="{{product.product_name}}"
                          />
                        </th>
                        <td>{{product.product_name}}</td>
                        <td>{{product.product_price}}</td>
                        <td>{{product.product_amount}}</td>
                        <td>{{product.product_promotion}}</td>
                        <td>{{product.get_total_price}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="d-flex p-2 flex-column align-items-end">
                    <div class="p-2">
                      <p><strong>Ship: {{payment.ship}} VNĐ</strong></p>
                    </div>
                    <div class="p-2">
                      <p><strong>Total Price {{payment.amount}} VNĐ</strong></p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="tab-pane" id="tab_b">
              <h3>2.</h3>
            </div>
            <div class="tab-pane" id="tab_c">
              <h3>3</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %} {% block extra_scripts %}
<script>
  //tabs-profile-
  $(function () {
    var $a = $(".tabs-profile li");
    $a.click(function () {
      $a.removeClass("active");
      $(this).addClass("active");
    });
  });
</script>
{% endblock extra_scripts %}
