

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
    
      

        <!-- Right -->
   
        <ul class="navbar-nav nav-flex-icons">
          {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
          {% if True %}
          <li class="nav-item">
            <a href="{% url 'cart:summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1">  </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'logout' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url '/' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
        </ul>
     
      
      </div>

    </div>
  </nav>