{% extends 'base.html' %} {% load widget_tweaks %}{% block content %}
<section class="products-tab p-4 pt-5">
  <div class="tab-title mt-5">
    <div class="text-title-center">
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item " aria-controls="nav-info active" aria-selected="true">
          <div class="class-flex">
            <button class="btn btn-circle"><i class="fa fa-check"></i></button>
            <p>01. Infomation</p>
          </div>
        </a>
        <div class="bottom-line"></div>
        <a class="nav-item " aria-selected="false">
          <div class="class-flex">
            <button class="btn btn-circle"><i class="fa fa-check"></i></button>
            <p>01. Infomation</p>
          </div>
        </a>
        <div class="bottom-line"></div>
        <a class="nav-item" aria-selected="false">
          <div class="class-flex">
            <button class="btn btn-circle"><i class="fa fa-check"></i></button>
            <p>01. Infomation</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="step-to-payment mb-2">
    <div class="tab-content tab-step pt-4" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">



        <form method="POST" action="{% url 'cart:payment_information' %}" class="info p-4">
          <h5 class="py-3"><u>Customer Infomation</u> </h5>
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <label>Full name: </label>
              {% if request.user.is_authenticated %}
              <input required type="text" class="form-control" placeholder="name" name="full_name"
                value="{{request.user.first_name}} {{request.user.last_name}}">
              {% elif user_info is not None %}
              <input required type="text" class="form-control" placeholder="name" name="full_name"
                value="{{user_info.full_name}}">
              {% else %}
              <input required type="text" class="form-control" name="full_name" placeholder="full_name">
              {% endif %}
            </div>
            <div class="col">
              <label>Phone :</label>
              {% if request.user.is_authenticated and request.user.mobile is not None %}
              <input required type="text" class="form-control" placeholder="mobile" name="mobile"
                value="{{request.user.mobile}}">
              {% elif user_info is not None %}
              <input required type="text" class="form-control" placeholder="mobile" name="mobile"
                value="{{user_info.mobile}}">
              {% else %}
              <input required type="text" class="form-control" name="mobile" placeholder="Your mobile">
              {% endif %}
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <label>Email :</label>
              {% if request.user.is_authenticated %}
              <input required type="email" class="form-control" placeholder="email" name="email"
                value="{{request.user.email}}">
              {% elif user_info is not None %}
              <input required type="email" class="form-control" placeholder="email" name="email"
                value="{{user_info.email}}">
              {% else %}
              <input required type="email" class="form-control" name="email" placeholder="email">
              {% endif %}
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <label>Address :</label>
              {% if request.user.is_authenticated %}
              <input required type="text" class="form-control" placeholder="address" name="address"
                value="{{request.user.address}}">
              {% elif user_info is not None %}
              <input required type="text" class="form-control" placeholder="address" name="address"
                value="{{user_info.address}}">
              {% else %}
              <input required type="text" class="form-control" name="address" placeholder="address">
              {% endif %}

            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <label>District : </label>
              <select class="form-control" name="district">
                {% for district in districts %}
                {% if district.id == request.user.district.id %}
                <option value="{{district.id}}" selected>{{district.name}}</option>
                {%else %}
                <option value="{{district.id}}">{{district.name}}</option>
                {%endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label>City :</label>
              <select class="form-control" name="city">
                {% for city in cities %}
                {% if city.id == request.user.city.id %}
                <option value="{{city.id}}" selected>{{city.name}}</option>
                {%else %}
                <option value="{{city.id}}">{{city.name}}</option>
                {%endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="back-shop py-5">
            <a href=""><i class="fas fa-arrow-left"></i> Back to shop</a>
            <button type="submit" value="submit" class="a-button small text-uppercase nav nav-tabs">NEXT
            </button>
          </div>
        </form>

      </div>



    </div>
  </div>
</div>
{% endblock content%}