{% extends 'base.html' %} {% load widget_tweaks %}{% block content %}

<div class="container">
    <div class="step-to-payment mb-2">
        <div class="tab-content tab-step pt-4" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                {% if request.user.is_authenticated %}
                {% for favorite in favorites %}
                {{ favorite.product.title }}
                {% endfor %}
                {% else %}
                <h3>Login is required</h3>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock content%}